.social-nav-items {
  margin-top: 50px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.footer-nav-items {
  place-items: center;
  justify-content: left;
}

.footer-container {
  place-content: center;
}

.nav-list-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 30px
}

.nav-list-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.site-footer {
  max-width: 60%;
  margin: 0 auto;
  margin-top: 10%;
}
